<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YurtKayitYonetimTakipSistemi.Properties.Settings.YurtKayitTakipSistemiConnectionString"
            connectionString="Data Source=LAPTOP-FP752VET\SQLEXPRESS;Initial Catalog=YurtKayitTakipSistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>